@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
         @{
          string name = Request["usrname"];
          string pass = Request["usrpwd"];
          string email = Request["regemail"];
        var db = Database.Open("SaanjhiDrive-master"); 
 var selectQueryString = "INSERT INTO users (usrname, usrpwd,email) VALUES ('name','pass','email')"; 
 //db.Query(selectQueryString);
 /* if(db.Query(selectQueryString))
    {
    <p>YOUR REGISTRATION IS COMPLETED...</p>
    }*/

    }
    </body>
</html>
