<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <httpRuntime maxRequestLength="1000000" />
  </system.web>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <remove name="OutboundRewriteUserFriendlyURL1" />
            </outboundRules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
                <verbs>
                    <add verb="POST" allowed="true" />
                </verbs> 
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=mysql_db;Uid=root;Pwd=r00tpass" name="mysql_db" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    
</configuration>